<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animal Dashboard</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/dashboard_page/css/style.css">

</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Data</a>
          </li>
        </ul>

        <div class="jumbotron text-center">
          <h1>Victoria Threatened Species Dashboard</h1>
          <p>Use the interactive charts below to explore the dataset</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Select a species:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Fun Facts!</h3>
          </div>
          <div id="species-metadata" class="panel-body"></div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="img-gallery"></div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
      <div class="col-md-7">
        <div id="bar"></div>
      </div>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/dashboard_page/js/app.js"></script>
  
</body>

</html>
