body {
  padding: 20px 120px 20px 120px;
}


/* Adding styles to the aside and filter form */
/* .ufo-form {
  margin-top: 50px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

#table-area th {
  text-align: center;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
} */